:root {
    --color1: #05b1b1;
    --color2: #52339a;
}
header, section {
    padding: 100px 0;
}
header {
    padding: 200px 0;
}
header {
    background: url(../img/pattern.png), var(--color1) ;
    background: url(../img/pattern.png), -moz-linear-gradient(left, var(--color1)    0%, var(--color2) 100%);
    background: url(../img/pattern.png), -webkit-linear-gradient(left, var(--color1)  0%,var(--color2) 100%);
    background: url(../img/pattern.png), linear-gradient(to right,  var(--color1)  0%,var(--color2) 100%);
    filter: url(../img/pattern.png), progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color2),GradientType=1 );
    background-size: contain;
}
.itd_play {
    background: var(--color1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px auto;
    transition: all 0.2s ease;
}
.itd_play:hover {
    background: var(--color2);
}
.itd_traingle {
    margin-right: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent var(--bs-white);
}
.btn-itd {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding: 8px 8px;
    color: var(--bs-white);
    background: var(--color2);
}
.btn-itd:hover {
    color: var(--bs-white);
    background: var(--color1);
}
.color1 {
    color: var(--color1);
}
.color2 {
    color: var(--color2);
}
.bg1 {
    background: var(--color1);
}
.bg2 {
    background: var(--color2);
}

.about {
    background: #000000;
}
.about i {
    font-size: 25px;
    color: var(--color2);
}
.itd_circle {
    margin: 0 auto 15px;
    width: 70px;
    height: 70px;
    border: 3px solid var(--color2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    width: 100px;
    height: 3px;
    background: var(--color1);
    margin: 15px auto 30px;
}
.forwhom h5 {
    padding: 50px;
    border: 3px solid var(--color1);
}
.forwhom {
    background: -moz-radial-gradient(center, ellipse cover, #233f3d 21%, #000000 97%);
    background: -webkit-radial-gradient(center, ellipse cover, #233f3d 21%,#000000 97%);
    background: radial-gradient(ellipse at center, #233f3d 21%,#000000 97%);
}
.next_ {
    background: #eee;
}
.linee::after {
    display: block;
    content: "";
    width: 100px;
    height: 3px;
    background: green;
    margin: 15px auto 30px;
}
.images {
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 16px 6px rgba(29, 15, 15, 0.5);
}
.twitter {
    background: linear-gradient(90deg, #45221c 9%, #237e83 75%);
}
.zoom {
    background: -moz-linear-gradient(left, #262626 6%, #137a32 100%);
    background: -webkit-linear-gradient(left, #262626 6%,#137a32 100%);
    background: linear-gradient(to right, #262626 6%,#137a32 100%);
}
.text-color {
    color: #cfcccc;
}
.text-r {
    color: #6f2626;
}
footer {
    padding: 40px 0;
    background: -moz-linear-gradient(left, rgba(0,137,94,1) 0%, rgba(59,0,91,1) 100%);
    background: -webkit-linear-gradient(left, rgba(0,137,94,1) 0%,rgba(59,0,91,1) 100%);
    background: linear-gradient(to right, rgba(0,137,94,1) 0%,rgba(59,0,91,1) 100%);
}
